<div class="items-center block w-full text-center lg:flex-1 lg:flex lg:text-left">
  <div class="lg:flex-grow"></div>
  <div class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-left lg:justify-end">


    <% if user_signed_in? %>
      <%= link_to "Edit account", edit_user_registration_path, class: "btn btn-transparent mr-2" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-transparent" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class:"btn btn-transparent mr-2" %>
      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-transparent" %>
    <% end %>

    <span class="px-2 text-gray-400">|</span>

    <%= link_to "Find jobs", jobs_path, class: "btn btn-transparent mr-2" %>
    <%= link_to "Post a job", new_job_path, class: "btn btn-teal" %>
  </div>
</div>
