<div class="items-center block w-full text-center lg:flex-1 lg:flex lg:text-left">
  <div class="lg:flex-grow">
    <%= link_to "Jobs", jobs_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link" %>
  </div>
  <div class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-left lg:justify-end">
    <% if user_signed_in? %>
      <%= link_to "Edit account", edit_user_registration_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0 block" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block" %>
      <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default block" %>
    <% end %>
  </div>
</div>
